# Node modules
node_modules/

# Entornos y logs
.env
logs.txt

# Archivos del sistema
.DS_Store
Thumbs.db

# ZIPs y backups
*.zip
*.bak

# Archivos generados por el IDE
.vscode/
.idea/
*.log
